body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    header {
        height: 10vh;
        background-color: #D81159;
        width: 100vw;
    }

    main {
        display: flex;
        flex-direction: row;
        height: 80vh;
        nav {
            background-color: #73D2DE;
            width: 20vw;
        }
    
        article {
            background-color: #218380;
            width: 60vw;
        }
    
        aside {
            background-color: #8F2D56;
            width: 20vw;
        }
    }

    footer {
        height: 10vh;
        background-color: #FFBC42;
        width: 100vw;
    }
}
    
@media screen and (max-width: 640px) {
    body {    
        main {
            height: 80vh;
            flex-direction: column;
            nav {
                width: 100vw;
                height: 10vh;
            }
        
            article {
                width: 100vw;
                height: 60vh;
                order: -1;
            }
        
            aside {
                width: 100vw;
                height: 10vh;
            }
        }
    }
}