@mixin jolie-deco() {
	padding: 1em;
	margin: 0.2em;
}

* {
	font-family: sans-serif;
}

body {
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: column;
	header {
		background-color: #D81159;
		@include jolie-deco();
	}
	main {
		display: flex;
		flex-direction: row;
		nav {
			background-color: #73D2DE;
			@include jolie-deco();
			width: 10em;
		}
		article {
			background-color: #218380;
			flex: 1;
			@include jolie-deco();
		}
		aside {
			background-color: #8F2D56;
			@include jolie-deco();
			width: 10em;
		}
	}
	footer {
		background-color: #FFBC42;
		@include jolie-deco();
	}
}

@media screen and (max-width: 840px) {
	body {
		main {
			flex-wrap: wrap;
			aside {
				flex-basis: 100%;
			}
		}
	}
}
	
@media screen and (max-width: 500px) {
	body {
		main {
			flex-direction: column;
			article, aside, nav {
				width: auto;
				flex: 1;
			}
		}
	}
}